@page "/"

<PageTitle>Scuba Air consumption</PageTitle>

<h1>Hello diver</h1>

<p>This simple app will calculate your air consumption from your dive.</p>
<p></p>



    <label >Enter your total Gas consumption [bar]</label> 
    <InputNumber id="TotalGasConsumption" title="Total Gas Consumption" @bind-Value="TotalGasConsumption"></InputNumber>
    <br>
    
    <label> Enter your cynlider size [liter]</label>
    <InputNumber id="CylinderSize" title="Cylinder Size" @bind-Value="CylinderSize"></InputNumber> 
    <br> <br>

    <label> Enter your dive time [minutes]</label>
    <InputNumber id="DiveTime" title="Dive Time" @bind-Value="DiveTime"></InputNumber> 
    <br><br>

    <label> Enter your dive max depth [meters]</label>
    <InputNumber id="MaxDepth" title="Max Depth" @bind-Value="MaxDepth" > @MaxDepth </InputNumber>
    <br>
    <label> Enter your dive avarage depth [meters]</label>
    <InputNumber id="AvarageDepth" title="Avarage Depth" @bind-Value="AvarageDepth"> </InputNumber>
    <br> <br>

<p></p>
<p>Your Surface Air Consumption Rate (based on max depth): @DiveTotalAirConsumption [liters/minute]</p>
<p>Your avarage dive air consumption (based on avagare): @DiveAvarageAirConsumption [liters/minutes]</p>

<button class="btn btn-primary" @onclick="CalculateGasConsumpotion"> Calculate </button>

@code {
    public double TotalGasConsumption = 0;
    public double CylinderSize = 0;
    public double DiveTime = 0;
    public double MaxDepth = 0;
    public double AvarageDepth = 0;

    private double DiveTotalAirConsumption = 0;
    private double DiveAvarageAirConsumption = 0;

    private const int DecimalRoundNumber = 2;

    private void CalculateGasConsumpotion(){

        DiveAvarageAirConsumption = CalculateDiveAvarageAirConsumption();
        DiveTotalAirConsumption = CalculateDiveTotalAirConsumption();
    }
    private double CalculateDiveAvarageAirConsumption()
    {
        var a = TotalGasConsumption * CylinderSize;
        double b = a / (DiveTime * ((AvarageDepth/10)+1 ));
        return Math.Round(b,DecimalRoundNumber);
    }

    private double CalculateDiveTotalAirConsumption()
    {
        var a = TotalGasConsumption * CylinderSize;
        double b = a / (DiveTime * ((MaxDepth/10)+1) );
        return Math.Round(b,DecimalRoundNumber);
    }

}